@model Category

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div id="fileInput" class="form-group ">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" class="form-control" accept="image/*">
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
